* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #f0f0f0;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: relative;
}

li:last-child {
  border-bottom: none;
}

.completed {
  background-color: red;
}
.important {
  background-color: blue;
}

li input[type="checkbox"] {
  margin-top: 4px;
  margin-left: 10px;
}
.task-title {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 16px;
}

.task-completed {
  text-decoration: line-through;
}

span {
  width: 300px;
}
